body {
  background-color: #f8f8f8;
}

.menu > li > a {
  font-size: 20px;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.menu > li {
  list-style-type: none;
}

.products_h2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;
}

.detailed_product_description {
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.short_product_description {
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}

input[type="text"] {
  font-family: normal;
  font-size: 16px;
  width: 300px;
  height: 20px;
  color: black;
}

.body_catalog a:hover,
.header ul li a:hover {
  color: blue;
}

.body_catalog a:active,
.header ul li a:active {
  color: coral;
}

.body_catalog a {
  font-style: normal;
  color: black;
}

.body_catalog a img,
.body_products img {
  outline: 2px solid black;
}

.body_products img:hover {
  outline: none;
}

input[type="email"]:focus {
  color: #1625ff;
  background-color: #eaeaea;
}

input[type="text"],
textarea {
  text-transform: capitalize;
}

.short_product_description:first-letter,
.detailed_product_description:first-letter {
  font-size: 25px;
  color: black;
}

.table_characteristics,
.table_characteristics td {
  border: 1px solid #000;
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  font-style: oblique;
  font-size: 16px;
}

.table_catalog,
.table_catalog td,
.table_catalog th {
  border: 2px solid #000;
  border-collapse: collapse;
  text-align: center;
}

.table_catalog thead tr th {
  height: 50px;
}
